<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[TITULO]</title>
<link href="http://fonts.cdnfonts.com/css/trenda" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0;">


   
        <tbody><tr>
            <td style="padding: 10px 0 30px 0;">

              <h1 align="center" padding-bottom:="" 10px;="" style="MARGIN: 2; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">[PROCESO]</h1>
                
		<table 	align ="center" border="0" cellpadding="0" cellspacing="0" width="0" style="border: 1px solid #cccccc; border-collapse: collapse;">	 
		
                   <tbody>
                    <tr>
                        <td bgcolor="#007380" ;="" style="/* padding: 1px; */"><br>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style=" background-image: url('https://dsm01pap001files.storage.live.com/y4mIluOLLpKS4WuyIlEyiavom3_1LxFifyk55-_RTOryzVGBJkHTA7ANS0OjbVVlf-v_To5wkKQvb3Npk3TiIsthVrkGjwrhNBgd0b1F4ms7d_YK6jmCYyS2H7dXWsEEJfVGlmYhi0MwWxazHd6Z6fu1-zxHk72YYK1HdMBMTqWBguml9id7v9b8hdiXh7715Wn?width=8001&height=4501&cropmode=none');
                            background-repeat: no-repeat; background-size:cover; ">
                                <tr>
                                    <td align="center" style="color: #ffffff; font-family: 'Trenda', sans-serif, Arial;font-size: 30px;padding-bottom: 20px;

                                    font-family:'Trenda', arial; color: white; margin-top: -400px;">
                                        <b>¡La ejecución finalizó correctamente!</b><br>
					<img src="https://dsm01pap001files.storage.live.com/y4mwmtWQgWxcUPKuDChUtOeRk-r8TEkc2Mi0Mc50yGi-G2UxeEz9A227w2SYyA4w8RqQY9vWMuLOIQCaCuHhsbtr0v8ClrWEKUsLDjWs2oGoPszH7ivTyxw4Up2jpCzm1b0srR4agx2jB2srWkAptt4NG4IrZYgdmip5JQ_YfaSrXBE9u7EUxa_yHN42WK0TKK_?width=113&amp;height=113&amp;cropmode=none" alt="" width="30" height="30" style="margin-top: 10px; display: inline">
                                    </td>
                                </tr>
                                <tr>
                                  
                                    <td style="color: #ffffff; padding: 15px 30px 15px 30px; color: #153643; font-family: 'Trenda', sans-serif; font-size: 18px; line-height: 20px;" <div=""><br><br><br>
					<p style="color: #ffffff;">[BODY]</p>
					<p style="color: #ffffff;">Saludos, <br><br><b>Team [TEAM]</b><br><br>
					                   
                      <div><br>               
					<!--<img width="100px" src="https://dsm01pap001files.storage.live.com/y4mJxgACzNLbw5db3E2uFYAy6dCQfHyIbB_9YPUdUm38MwzSgCnwORYon0A_RrpGifv48l6KXKlRvwZNXI9upl19c6RuadCAI3FoBG6U187mgsXniuMf-dMBStcUPYR0Sul24vvSFslpqKUzuzpws302H8ovsH911FTY_GdgM124S_lnyMNIKfPjeUTVGrHjxdF?width=108&amp;height=68&amp;cropmode=none" alt="" width="18%" height="30%" style="display: block;">-->
                      </div>             
								   </p></td>
                                </tr>
     
                            </tbody></table>
                        </td>
                    </tr>
			
                    <tr>
                        <td bgcolor="#004650" style="padding: 15px 30px 15px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>
                                    <td style="color: #ffffff; font-family: 'Trenda', sans-serif; font-size: 14px;" width="75%">
                                        <b>NOTA:</b> Favor no responder este mensaje que ha sido emitido automáticamente. <br><br>
                                         Creado por <b>WF Guatemala</b>
                                    </td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody><tr>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    
                                                </td>
                                             
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody></table>

</body></html>